/* Google fonts CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* header/navegation section */

header{
    /* position: fixed;
    top: 0;
    left: 0; */
    width: 100%;
    height: 70px;
    background: #404040;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    /* opacity: 50%; */
}

.navbar{
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.logo img{
    width: 100px;
}

.navbar .nav-links{
    height: 100%;
    line-height: 70px;
}

.navbar .nav-links .links{
    display: flex;
}

.navbar .nav-links .links li{
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 20px;
}

.navbar .nav-links .links li a{
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 600;
    height: 100%;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}

.navbar .nav-links .links li .arrow{
    line-height: 70px;
    height: 100%;
    width: 22px;
    text-align: center;
    color: #fff;
    transition:  all 0.2s ease;
}

.navbar .nav-links .links li:hover{
    background: #F3D237;
}

.navbar .nav-links .links li a:hover{
    color: #000;
    
}

.navbar .nav-links .links li:hover .services-arrow{
    transform: rotate(180deg);
    color: #000;
}

.navbar .nav-links .links .sub-menu{
    width: 151px;
    position: absolute;
    top:70px;
    left: 0;
    background: #F3D237;
    line-height: 40px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: none;
}

.navbar .nav-links .links .sub-menu li{
    padding: 0 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.navbar .nav-links .links .sub-menu li a{
    color: #000;
    font-size: 15px;
    font: 600;
}

.navbar .nav-links .links li:hover .services-sub-menu{
    display: block;
}

.navbar .bx-menu,
.nav-links .sidebar-logo .side-logo,
.nav-links .sidebar-logo .bx-x{
        display: none;
}


/* main body/title */

.title{
    background-color: #F3D237;
    background-image: url(../images/expoxyheader_larger.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    height: 636px;
    padding: 200px 0 200px 100px;
}

.title h1{
    width: 600px;
    color: #fff;
    font-size: 40px;
}

.title p{
    width: 600px;
    color: #fff;
    font-size: 20px;
}











@media (max-width:1023px){

    .navbar{
        max-width: 100%;
        padding: 0 25px 0 40px;
    }

    .logo img{
        width: 90px;
    }

    .navbar .nav-links .links li{
        padding: 0 15px;
    }

    .navbar .nav-links .links li a{
        font-size: 15px;
    }

    .navbar .nav-links .links .sub-menu{
        width: 136px;
    }

    .title{
        background-color: #F3D237;
        background-image: url(../images/expoxyheader_large.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-position: center;
        height: 636px;
        padding: 200px 0 200px 100px;
    }

}









@media (max-width:800px){

    /* .logo{
        position: relative;
        right: 50%;
        
    }

    .logo img{
        width: 90px;
    } */

    .navbar .nav-links{
        display: block;
        position: fixed;
        background: #404040;
        padding: 20px;
        top: 0;
        right: 100%;
        max-width: 270px;
        width: 100%;
        line-height: 50px;
        transition: all 0.5s ease;
        z-index: 100;
    }

    .links li{
        padding-left: 30px;
    }

    .navbar .nav-links .sidebar-logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar .bx-menu,
    .nav-links .sidebar-logo .side-logo,
    .nav-links .sidebar-logo .bx-x{
        color: #fff;
        font-size: 25px;
        font-weight: 600;
    }

    .bx-menu{
        border: solid 2px white;
        position: absolute;
        right: 30px;
    }

    .navbar .bx-menu,
    .nav-links .sidebar-logo .side-logo,
    .nav-links .sidebar-logo .bx-x{
        display: block;
    }

    .navbar .nav-links .links{
        display: block;
        margin-top: 20px;
    }

    .navbar .nav-links .links li{
        display: block;
    }

    .navbar .nav-links .links .sub-menu{
        display: none;
        position: relative;
        top: 0;
        left: 0;
        box-shadow: none;
    }

    .navbar .nav-links .links .sub-menu li{
        border-bottom: none;
    }

    .navbar .nav-links .links li:hover .services-sub-menu{
        display: none;
    }

    .navbar .nav-links .links li .arrow{
        line-height: 40px;
    }

    .navbar .nav-links .links li:hover .services-arrow{
        transform: rotate(0deg);
        color: #000;
    }

    .navbar .nav-links.show1 .links .sub-menu.services-sub-menu{
        display: block;
    }

    .navbar .nav-links.show1 .links li .services-arrow{
        transform: rotate(180deg);
        color: #000;
    }

}







    @media (max-width: 521px){

        .navbar .nav-links{
            max-width: 100%;
        }

        .title{
            background-color: #F3D237;
            background-image: url(../images/epoxyheader_small.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            /* background-attachment: fixed; */
            background-position: center;
            height: 636px;
            padding: 200px 0 200px 100px;
        }

    }

